.env
oldrequirements.txt
new
chatbot/chatapp/migrations
chatbot/chatapp/documents
chatbot/chatapp/templates
chatbot/chatapp/vector_db
chatbot/chatapp/__pycache__
chatbot/chatbot/__pycache__
chatbot/db.sqlite3